In [1]:
import sqlite3
import pandas as pd

# Ruta al archivo CSV
csv_file_path = '../files/input/tbl0.csv'
csv_file_path1 = '../files/input/tbl1.csv'
csv_file_path2 = '../files/input/tbl2.csv'

# Definir los encabezados manualmente
column_names = ['K0', 'c01', 'c02', 'c03', 'c04']
column_names1 = ['K0', 'K1', 'c12', 'c13', 'c14', 'c15', 'c16']
column_names2 = ['K1', 'c21', 'c22', 'c23', 'c24', 'c25']

# Leer el archivo CSV sin encabezados y asignar los nombres manualmente
df = pd.read_csv(csv_file_path, names=column_names, header=None)
df1 = pd.read_csv(csv_file_path1, names=column_names1, header=None)
df2 = pd.read_csv(csv_file_path2, names=column_names2, header=None)
print(df.head(4))
print(df1.head(4))
print(df2.head(4))

  K0   c01  c02    c03  c04
0  A  5000  900  NMNJL  0.4
1  B  7000  100  OLPKN  0.2
2  C  1000  600  LMMML  0.2
3  D  4000  600  PJLJL  0.4
  K0  K1     c12  c13         c14   c15   c16
0  E   1  273.08  600  2016-12-31  0.21  BDGD
1  D   2  756.37  500  2019-02-28  0.37  BCCC
2  E   3  305.43  100  2017-05-21  0.21  BAED
3  D   4  662.69  800  2017-03-26  0.23  BGDD
   K1     c21  c22         c23   c24    c25
0   5  982.63  900  2018-04-13  0.25  VV-BV
1  19  718.58  700  2018-04-12  0.12  VZ-MX
2  15  850.49  700  2017-02-17  0.31  ZX-MV
3  29  539.04  500  2019-01-23  0.30  MZ-CV

In [2]:
# Conexión a la base de datos SQLite
conn = sqlite3.connect(':memory:')  # Cambia ':memory:' por un archivo para guardar la base de datos
cursor = conn.cursor()

In [3]:
# Crear la tabla tbl1 (asegúrate de que las columnas coincidan con el DataFrame)

# Crear las tablas por separado
cursor.execute('''
CREATE TABLE tbl0 (
    K0  CHAR(1),
    c01 INT,
    c02 INT,
    c03 CHAR(4),
    c04 FLOAT
);
''')

cursor.execute('''
CREATE TABLE tbl1 (
    K0 CHAR(1),
    K1 INT,
    c12 FLOAT,
    c13 INT,
    c14 DATE,
    c15 FLOAT,
    c16 CHAR(4)
);
''')

cursor.execute('''
CREATE TABLE tbl2 (
    K1  INT,
    c21 FLOAT,
    c22 INT,
    c23 DATE,
    c24 FLOAT,
    c25 CHAR(5)
);
''')

# Insertar datos desde el DataFrame a la tabla
df.to_sql('tbl0', conn, if_exists='append', index=False)
df1.to_sql('tbl1', conn, if_exists='append', index=False)
df2.to_sql('tbl2', conn, if_exists='append', index=False)

120

In [4]:
# Pregunta1: Escriba una consulta en SQL que devuelva la suma del campo c12.
result = cursor.execute('SELECT SUM(c12) FROM tbl1').fetchall()

# Mostrar el resultado
print(f"La suma del campo c12 es: {result}")

# Cerrar la conexión
#conn.close()

La suma del campo c12 es: [(15137.63,)]

In [5]:
#Pregunta 2: Escriba una consulta que retorne la cantidad de registros de la tabla `tbl1`.
result = cursor.execute('SELECT COUNT(*) FROM tbl1').fetchall()

# Mostrar el resultado
print(f"La cantidad de registros de tbl1 es: {result}")

# Cerrar la conexión
# conn.close()

La cantidad de registros de tbl1 es: [(30,)]

In [6]:
#Pregunta3: Escriba una consulta que retorne los primeros cinco 
# registros de la tabla `tbl1` ordenados por fecha.

result = cursor.execute('SELECT * FROM tbl1 ORDER BY C14 ASC LIMIT 5').fetchall()

# Mostrar el resultado
print(f"Los primeros cinco registros ordenados por fecha de tbl1 son: {result}")

# Cerrar la conexión
# conn.close()

Los primeros cinco registros ordenados por fecha de tbl1 son: [('A', 20, 938.16, 300, '2016-09-12', 0.19, 'BECB'), ('C', 15, 370.58, 900, '2016-10-01', 0.11, 'GCDD'), ('E', 22, 118.77, 900, '2016-10-29', 0.32, 'GEFE'), ('B', 12, 999.72, 800, '2016-11-09', 0.26, 'FCGD'), ('E', 14, 832.44, 800, '2016-11-22', 0.39, 'EGFD')]

In [7]:
# Pregunta4: Escriba una consulta que retorne los campos K0 y c16
# para los registros de la tabla tbl1 para los que la 
# columna c16 empieza por la misma letra de la columna K0.

result = cursor.execute('''
        SELECT K0, c16 
        FROM tbl1 
        WHERE c16 LIKE K0 || '%';
        ''').fetchall()

# Mostrar el resultado
print(f"El resultado es: {result}")

# Cerrar la conexión
# conn.close()

El resultado es: [('E', 'EGFD'), ('B', 'BDEE'), ('C', 'CCCE')]

In [8]:
#Pregunta5:Escriba una consulta que retorne todos los campos de 
# la tabla tbl0 para los que el campo c02 es igual a 100 o igual a 600

result = cursor.execute('''
        SELECT * 
        FROM tbl0
        WHERE c02 = 100 OR c02 = 600 ;
        ''').fetchall()

# Mostrar el resultado
print(f"El resultado es: {result}")

# Cerrar la conexión
# conn.close()

El resultado es: [('B', 7000, 100, 'OLPKN', 0.2), ('C', 1000, 600, 'LMMML', 0.2), ('D', 4000, 600, 'PJLJL', 0.4), ('G', 5000, 100, 'NLPLO', 0.2)]

In [9]:
# Pregunta6:Escriba una consulta que retorne todos los campos de 
# la tabla tbl1 ordenada por fecha (c14) para los 
# registros con K0 igual a A

result = cursor.execute('''
        SELECT * 
        FROM tbl1
        WHERE K0 = "A"
        ORDER BY C14;
                                      
        ''').fetchall()

# Mostrar el resultado
print(f"El resultado es: {result}")

# Cerrar la conexión
# conn.close()

El resultado es: [('A', 20, 938.16, 300, '2016-09-12', 0.19, 'BECB'), ('A', 30, 135.8, 900, '2017-01-26', 0.23, 'EGAB'), ('A', 18, 142.99, 100, '2017-02-12', 0.48, 'GGFD'), ('A', 26, 456.47, 400, '2018-01-28', 0.11, 'FGED'), ('A', 6, 391.42, 300, '2018-05-15', 0.22, 'BFGB'), ('A', 10, 816.51, 600, '2019-04-25', 0.4, 'DAGC')]

In [10]:
# Pregunta7:Escriba una consulta que retorne todos los campos de 
# la tabla tbl1 ordenada por fecha (c14) para los 
# registros con K0 diferente a A y B y c13 diferente de 200 y 900

result = cursor.execute('''
        SELECT * 
        FROM tbl1
        WHERE K0 NOT IN ('A', 'B')
            AND c13 NOT IN (200, 900)
        ORDER BY C14;
                                      
        ''').fetchall()

# Mostrar el resultado
print(f"El resultado es: {result}")

# Cerrar la conexión
# conn.close()

El resultado es: [('E', 14, 832.44, 800, '2016-11-22', 0.39, 'EGFD'), ('E', 8, 302.86, 700, '2016-12-22', 0.14, 'DFCC'), ('E', 1, 273.08, 600, '2016-12-31', 0.21, 'BDGD'), ('E', 27, 720.9, 800, '2017-01-16', 0.12, 'FBGD'), ('D', 4, 662.69, 800, '2017-03-26', 0.23, 'BGDD'), ('E', 3, 305.43, 100, '2017-05-21', 0.21, 'BAED'), ('C', 13, 712.61, 400, '2017-10-23', 0.31, 'EDDA'), ('C', 5, 822.81, 100, '2017-11-17', 0.35, 'GGFC'), ('C', 7, 755.27, 800, '2018-07-04', 0.47, 'GCDB'), ('E', 25, 600.9, 700, '2018-11-07', 0.36, 'BBBA'), ('D', 2, 756.37, 500, '2019-02-28', 0.37, 'BCCC'), ('C', 19, 570.43, 400, '2019-04-12', 0.48, 'FBEE'), ('C', 24, 482.32, 300, '2019-05-03', 0.11, 'CCCE')]

In [25]:
#Pregunta8:Escriba una consulta que compute el promedio de la columna c21 
# de la tabla tbl2 por año (columna c23).

result = cursor.execute('''
    SELECT 
        strftime('%Y', c23) AS year,
        ROUND(AVG(c21), 6) AS average_c21  
    FROM tbl2
    GROUP BY year
    ORDER BY year;
                        
''').fetchall()

# Mostrar el resultado
print(f"El resultado es: {result}")

# Cerrar la conexión
# conn.close()

El resultado es: [('2016', 564.476429), ('2017', 515.156364), ('2018', 557.559375), ('2019', 550.998571)]

In [36]:
#pregunta8: alternativa 2
result = cursor.execute('''
 SELECT 
    strftime('%Y', c23), 
    ROUND(AVG(c21), 2) AS 'avg(c21)'
FROM tbl2
GROUP BY strftime('%Y', c23)
                        
''').fetchall()

# Mostrar el resultado
print(f"El resultado es: {result}")

# Cerrar la conexión
# conn.close()

El resultado es: [('2016', 564.48), ('2017', 515.16), ('2018', 557.56), ('2019', 551.0)]

In [27]:
# Pregunta9:Escriba una consulta que retorne el registro
# con el menor valor en la columna c21 de la tabla tbl2.

result = cursor.execute('''
SELECT *
FROM tbl2
WHERE c21 = (SELECT MIN(c21) from tbl2)
                        
''').fetchall()

# Mostrar el resultado
print(f"El resultado es: {result}")

# Cerrar la conexión
# conn.close()

El resultado es: [(29, 101.11, 100, '2017-11-17', 0.42, 'MV-CB')]

In [28]:
#pregunta 10:Escriba una consulta que retorne todos los 
# campos de los registros de la tabla tbl0 con la columna c02 mayor o igual a 300.

result = cursor.execute('''
    SELECT * 
    FROM tbl0
    WHERE c02 >= 300;
                        
''').fetchall()

# Mostrar el resultado
print(f"El resultado es: {result}")

# Cerrar la conexión
# conn.close()

El resultado es: [('A', 5000, 900, 'NMNJL', 0.4), ('C', 1000, 600, 'LMMML', 0.2), ('D', 4000, 600, 'PJLJL', 0.4), ('F', 2000, 300, 'NNPJO', 0.3), ('I', 3000, 300, 'PPPPL', 0.3)]

In [30]:
#pregunta 11:Escriba una consulta que retorne el total 
# de registros de la tabla tbl1 para el año 2018

result = cursor.execute('''
SELECT COUNT(*)
FROM tbl1
WHERE strftime('%Y', c14) = '2018';
                        
''').fetchall()

# Mostrar el resultado
print(f"El resultado es: {result}")

# Cerrar la conexión
# conn.close()

El resultado es: [(6,)]

In [33]:
#pregunta 12: Escriba una consulta que retorne por cada letra
# de la columna K0, el valor máximo de la coumna c12
# en la tabla tbl1.

result = cursor.execute('''
SELECT K0, MAX(c12), MIN(c12) 
FROM tbl1
GROUP BY K0
ORDER BY K0;
                        
''').fetchall()

# Mostrar el resultado
print(f"El resultado es: {result}")

# Cerrar la conexión
# conn.close()

El resultado es: [('A', 938.16, 135.8), ('B', 999.72, 283.4), ('C', 822.81, 267.42), ('D', 756.37, 317.77), ('E', 832.44, 118.77)]

In [34]:
#pregunta 13: Escriba una consulta que retorne por cada letra
# de la columna K0, el valor promedio de la columna c12
# en la tabla tbl1, para aquellos registros con c13 mayora 400.

result = cursor.execute('''
SELECT 
    K0, 
    CASE 
        WHEN (AVG(c12) * 100) - FLOOR(AVG(c12) * 100) < 0.5 
            THEN FLOOR(AVG(c12) * 100) / 100
        ELSE CEIL(AVG(c12) * 100) / 100
    END AS 'avg(c12)' 
FROM 
    tbl1 
WHERE 
    c13 > 400 
GROUP BY 
    K0;
                        
''').fetchall()

# Mostrar el resultado
print(f"El resultado es: {result}")

# Cerrar la conexión
# conn.close()

El resultado es: [('A', 476.16), ('B', 536.52), ('C', 490.83), ('D', 709.53), ('E', 474.83)]

In [35]:
#pregunta 14:Escriba una consulta que retorne por cada letra de la
# columna K0 de la tabla tbl1, el valor promedio de la 
# columna c21 en la tabla tbl2, para aquellos registros
# con c13 mayor a 400.

result = cursor.execute('''
SELECT tbl1.K0, AVG(tbl2.c21) AS 'avg(c21)'
FROM tbl1
JOIN tbl2 ON tbl1.K1 = tbl2.K1
WHERE tbl1.c13 > 400
GROUP BY tbl1.K0;
                        
''').fetchall()

# Mostrar el resultado
print(f"El resultado es: {result}")

# Cerrar la conexión

El resultado es: [('A', 593.495), ('B', 575.47), ('C', 530.7529999999999), ('D', 655.6125), ('E', 555.3230769230769)]